// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-button {
  --mat-button-filled-container-color: #3a863d;
  --mat-button-filled-label-text-color: white;

  --mat-button-text-label-text-color: #3a863d;
  --mat-button-text-state-layer-color: #3a863d;
  --mat-button-protected-label-text-color: #3a863d;
}

.error-button {
  --mat-button-filled-container-color: #e91b0c;
  --mat-button-filled-label-text-color: white;

  --mat-button-text-label-text-color: #e91b0c;
  --mat-button-text-state-layer-color: #e91b0c;

  --mat-button-protected-label-text-color: #e91b0c;
}

.warning-button {
  --mat-button-filled-container-color: #d68100;
  --mat-button-filled-label-text-color: Black;
}

// Dark mode colors
@media (prefers-color-scheme: dark) {
  .success-button {
    --mat-button-filled-container-color: #9bd4a0;
    --mat-button-filled-label-text-color: #183a19;

    --mat-button-text-label-text-color: #9bd4a0;
    --mat-button-text-state-layer-color: #9bd4a0;
    --mat-button-protected-label-text-color: #9bd4a0;
  }

  .error-button {
    --mat-button-filled-container-color: #f8b6b5;
    --mat-button-filled-label-text-color: #650908;
    --mat-button-text-label-text-color: #f8b6b5;
    --mat-button-protected-label-text-color: #f8b6b5;
  }

  .warning-button {
    --mat-button-filled-container-color: #ffba52;
    --mat-button-filled-label-text-color: #462a00;
    --mat-button-text-label-text-color: #ffba52;
    --mat-button-text-state-layer-color: #ffba52;
    --mat-button-protected-label-text-color: #ffba52;
  }
}

mat-form-field {
  width: 100%;
}
